<!DOCTYPE html>
<html lnag="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/resetPassword" method="post">
    <input type="hidden" name="studentID" th:value="${studentID}"></input>
    <div class="idform">
        <input type="text" name="password" id="pw" placeholder="새로운 비밀번호"><br>
    </div>
    <div class="links">
        <button class="links-btn" type="submit"><strong>저장</strong>
        </button>
    </div>
</form>
</body>
</html>