<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/header.css}">
    </head>

    <body>
    <div>
        <div class="topnav">
            <th:block th:if="${#strings.isEmpty(session.id)}">
                <a th:href="@{/login}" th:text="Login">Login</a>
            </th:block>
            <th:block th:if="${not #strings.isEmpty(session.id)}">
                <a th:href="@{/logout}" th:text="Logout">Logout</a>
            </th:block>
            <!--<a href="/login" th:text="${session.login}">Login</a>-->
            <!--<a onclick="window.location.reload()">Home</a>-->
            <th:block th:if="${#strings.isEmpty(session.id)}">
                <a th:href="@{/check}" th:text="회원가입">회원가입</a>
            </th:block>
            <th:block th:if="${not #strings.isEmpty(session.id)}">
                <th:block th:if="${#strings.equals(session.grade, 'admin')}">
                    <a th:href="@{/mypage/admin}" th:text="MyPage">MyPage</a>
                </th:block>
                <th:block th:if="${#strings.equals(session.grade, 'user')}">
                    <a th:href="@{/mypage}" th:text="MyPage">MyPage</a>
                </th:block>
            </th:block>
            <a th:href="@{/index}">Home</a>
        </div>

<!-- 삭제 예정 -->
<!--            <div class="search-container">-->
<!--                <form action="/action_page.php">-->
<!--                    <input type="text" placeholder="Search.." name="search">-->
<!--                    <button type="submit">-->
<!--                        <img id="searchicon" src="/img/search.png" alt=""><i-->
<!--                            class="fa fa-search"></i>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->

        <div class="navbar">
            <div class="logo">
                <a th:href="@{/index}"><img th:src="@{/img/header/logo.jpg}"></a>
            </div>

            <div id="menu">
                <ul>
                    <li><a th:href="@{/notice}">공지사항</a></li>
                    <li><a th:href="@{/board}">자유게시판</a></li>
                    <li><a>동아리</a>

                        <ul>
                            <li><a th:href="@{/clubJoin}">조회 및 가입</a></li>
                            <li><a th:href="@{/joinManual}">가입 방법</a></li>
                        </ul>
                        <ul th:if="${#strings.equals(session.grade, 'admin')}">
                            <li><a th:href="@{/clubJoin}">조회 및 가입</a></li>
                            <li>
                                <a th:href="@{/club/create}">동아리 생성</a></li>
                            <li><a th:href="@{/joinManual}">가입 방법</a></li>
                        </ul>

                    </li>
                    <li><a>소개</a>
                        <ul>
                            <li><a th:href="@{/aboutClub}">동아리란?</a></li>
                            <li><a th:href="@{/arrange}">동아리 배치도</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>행사</a>
                        <ul>
                            <li><a th:href="@{/event}">동아리 행사</a></li>
                            <li th:if="${#strings.equals(session.grade, 'admin')}">
                                <a th:href="@{/event/write}">행사 게시물 작성</a></li>
                        </ul>
                    </li>
                    <li th:if="${#strings.equals(session.grade, 'admin')}">
                        <a>회원관리</a>
                        <ul>
                            <li><a th:href="@{/memberList}">회원목록</a></li>
                            <li><a th:href="@{/permissionList}">승인목록</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </body>
</th:block>
</html>