<!DOCTYPE html>
<html lnag="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>동아리 배치도</title>
    <link rel="stylesheet" href="/css/arrange.css">
    <meta charset="utf-8">
</head>
<body>

<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

<div class="row">
    <div class="rightcolumn">
        <div class="card">

                <div class="namebox">
                    <h2 id="sidemenuname">
                        Menu
                    </h2>
                </div>
                <ul class="sidemenu">
                    <li><a href="/aboutClub">동아리란?</li>
                    <li id="now"><a href="/arrange">동아리 배치도</a></li>
                </ul>

        </div>

    </div>
    <div class="leftcolumn">
        <h2><a href="/arrange">동아리방 배치도</a></h2>
        <div class="card">
            <div class="arrangeimg">
                <img th:src="@{/img/arrange/arrangement.png}">
            </div>
        </div>
    </div>

</div>

<!-- footer -->
<th:block th:insert="fragments/footer :: footerFragment"></th:block>

</body>
</html>