* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
}

/* Create two unequal columns that floats next to each other */

.areaLine{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
}
.row{
    margin-top: 200px;
}
/* Left column */
.leftcolumn {
    float: left;
    width: 70%;

}

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    box-shadow: 0 -5px 5px -5px #333,
    0 5px 5px -5px #333;
}

th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    /* text-align:center; */
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: center;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

.btnZone{
    text-align: center;
}

.btnZone input{
    background-color: #1b1e24;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #D5DDE5;
}

.btnZone input:first-child{
    margin-right: 20px;
}

.btnZone input:hover{
    background: #2b2f39;
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    border-radius: 10px;
    height: 600px;
    box-shadow: 0 -10px 10px -10px #333,
    0 10px 10px -10px #333;
    margin-right: 20px;
}
/* Fake image */
#proImg {
    width: 50%;
    height: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    height: 500px;
}

.rightcolumn .card h2, p{
    text-align: center;
}

.rightcolumn input{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 180px;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}