<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/join.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/js/confirm.js}"></script>

</head>
<body>
<!-- header -->
<div id="header">
    <a href="/index"><img th:src="@{/img/join/schoolLogo.png}" id="logo"></a>
</div>


<!-- wrapper -->
<div id="wrapper">

    <!-- content-->
    <div id="content" th:object="${join}">
        <form action="/check/join" method="post" onsubmit="return joinCheck()">
        <!-- ID -->
            <div>
                <h3 class="join_title">
                    <label for="id">학번</label>
                </h3>
                <span class="box int_id">
                            <input type="text" id="id" th:field="*{studentId}" class="int" maxlength="20">
                        </span>
                <span class="error_next_box"></span>
            </div>

            <!-- PW1 -->
            <div>
                <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                <span class="box int_pass">
                            <input type="password" id="pswd1" th:field="*{password}" class="int" maxlength="20">
                            <span id="alertTxt">사용불가</span>
                            <img th:src="@{/img/join/m_icon_pass.png}" id="pswd1_img1" class="pswdImg">
                        </span>
                <span class="error_next_box"></span>
            </div>

            <!-- PW2 -->
            <div>
                <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                <span class="box int_pass_check">
                            <input type="password" id="pswd2" class="int" maxlength="20">
                            <img th:src="@{/img/join/m_icon_check_disable.png}" id="pswd2_img1" class="pswdImg">
                        </span>
                <span class="error_next_box"></span>
            </div>

            <!-- NAME -->
            <div>
                <h3 class="join_title"><label for="name">이름</label></h3>
                <span class="box int_name">
                            <input type="text" id="name" th:field="*{name}" class="int" maxlength="20">
                        </span>
                <span class="error_next_box"></span>
            </div>

            <!-- DEPARTMENT -->
            <div>
                <h3 class="join_title"><label for="department">학과</label></h3>
                <span class="box int_department">
                            <input type="text" id="department" th:field="*{department}" class="int" maxlength="20">
                        </span>
                <span class="error_next_box"></span>
            </div>

            <!-- BIRTH -->
            <div>
                <h3 class="join_title"><label for="yy">생년월일</label></h3>
                <div id="bir_wrap">
                    <!-- BIRTH_YY -->
                    <div id="bir_yy">
                                <span class="box">
                                    <input type="text" th:field="*{birth_yy}" id="yy" class="int" maxlength="4" placeholder="년(4자)">
                                </span>
                    </div>
                    <!-- BIRTH_MM -->
                    <div id="bir_mm">
                                <span class="box">
                                    <select id="mm" name="birth_mm" class="sel">
                                        <option>월</option>
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </span>
                    </div>
                    <!-- BIRTH_DD -->
                    <div id="bir_dd">
                                <span class="box">
                                    <input type="text" th:field="*{birth_dd}" id="dd" class="int" maxlength="2" placeholder="일">
                                </span>
                    </div>
                </div>
                <span class="error_next_box"></span>
            </div>
            <!-- GENDER -->
            <div>
                <h3 class="join_title"><label for="gender">성별</label></h3>
                <span class="box gender_code">
                            <select id="gender" name="gender" class="sel">
                                <option>성별</option>
                                <option value="남성">남자</option>
                                <option value="여성">여자</option>
                            </select>
                        </span>
                <span class="error_next_box">필수 정보입니다.</span>
            </div>

            <!-- EMAIL -->
<!--            <div>-->
<!--                <h3 class="join_title"><label for="email">이메일</label><input style="margin-left: 10px" type="button" value='이메일 인증' id="emailCk" readonly onclick="winpopup();"></h3>-->
<!--                <span class="box int_email">-->
<!--                            <input type="text" id="email" th:field="*{email}" class="int" maxlength="100" placeholder="이메일 형식은 @a.ut.ac.kr 도메인만 사용가능합니다.">-->
<!--                        </span>-->
<!--                <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>-->
<!--            </div>-->



            <!-- MOBILE -->
            <div>
                <h3 class="join_title"><label for="phoneNo">휴대전화</label></h3>
                <span class="box int_mobile">
                            <input type="tel" id="mobile" th:field="*{phone}" class="int" oninput="hypenTel(this)" maxlength="16" placeholder="전화번호 입력">
                        </span>
                <span class="error_next_box"></span>
            </div>

            <!-- address -->
            <div>
                <h3 class="join_title"><label for="addr">주소</label><input class="addrFind" id="member_post" type="button" value='주소 찾기' readonly onclick="findAddr();"></h3>
                <span class="box int_address">
                        <input type="text" id="address" th:field="*{address}" class="int" maxlength="100">
                      </span>
                <span class="error_next_box"></span>
            </div>



            <!-- address2 -->
            <div>
                <h3 class="join_title"><label for="addr2">상세 주소</label></h3>
                <span class="box int_address">
                        <input type="text" id="address2" th:field="*{detailAddress}" class="int" maxlength="100">
                      </span>
                <span class="error_next_box"></span>
            </div>

            <!-- JOIN BTN-->
            <div class="btn_area">
                <button type="submit" id="btnJoin">
                    <span>가입하기</span>
                </button>
            </div>
        </form>
    </div>

</div>
<!-- wrapper -->
<script src="/js/join.js"></script>
</body>
</html>