<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>조회 및 가입</title>
    <link rel="stylesheet" href="/css/clubJoin.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

<div class="row">
    <div class="column side">
        <div class="sidewrapper">
            <div class="namebox">
                <h2 id="sidemenuname">
                    Menu
                </h2>
            </div>
            <ul class="sidemenu">
                <li id="now"><a href="/clubJoin">조회 및 가입</a></li>
                <li><a href="/joinManual">가입 방법</a></li>
            </ul>
        </div>
    </div>
    <div class="column middle">
        <h1>조회 및 가입</h1>
            <form action="/clubJoin">
                <select name="campus">
                    <option value="" th:selected="${#strings.equals(param.campus, 'campus')}">캠퍼스 선택</option>
                    <option value="충주" th:selected="${#strings.equals(param.campus, 'chungju')}">충주</option>
                    <option value="증평" th:selected="${#strings.equals(param.campus, 'jeungpyeong')}">증평</option>
                    <option value="의왕" th:selected="${#strings.equals(param.campus, 'uiwang')}">의왕</option>
                </select>
                <select name="type">
                    <option value="" th:selected="${#strings.equals(param.type, 'type')}">종류 선택</option>
                    <option value="스포츠" th:selected="${#strings.equals(param.type, 'sport')}">스포츠</option>
                    <option value="밴드" th:selected="${#strings.equals(param.type, 'band')}">밴드</option>
                    <option value="사진" th:selected="${#strings.equals(param.type, 'photo')}">사진</option>
                    <option value="종교" th:selected="${#strings.equals(param.type, 'religion')}">종교</option>
                    <option value="봉사" th:selected="${#strings.equals(param.type, 'volunteer')}">봉사</option>
                    <option value="학술" th:selected="${#strings.equals(param.type, 'academic')}">학술</option>
                </select>
                <input type="submit" value="조회">
            </form>
        <div class="products" >
            <th:block th:each="c : ${clubList}">
            <div class="tag_wrap">
                <a th:href="@{/clubJoin/detail(num=${c.num})}">
                    <th:block th:if="${not #strings.isEmpty(c.img)}">
                        <img th:src="${c.img}">
                    </th:block>
                    <th:block th:if="${#strings.isEmpty(c.img)}">
                        <img src="/img/event/event.jpg">
                    </th:block>
                    <p class="name" th:text="${c.name}"></p>
    <!--                <p class="price" th:text="${n.activity} + '동아리'"></p>-->
                </a>
            </div>
            </th:block>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- footer -->
<th:block th:insert="fragments/footer :: footerFragment"></th:block>

</body>
</html>